# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Server
dist/

# Misc
.DS_Store
*.pem
.env*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Turborepo
.turbo

# Logs
npm-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea

# Prisma
/packages/database/prisma/dev.db

# Personal Notes
revision_notes.md
*.log

# Local Database Data
docker/postgres-data


